<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.ampq.notification" version="0.2.4">
  <name>AMQ Push Notifications</name>
  <description>Infobip Push Notification Plugin for Android</description>
  <license>MIT</license>
  <keywords>push,notification,amqp,rabbitmq</keywords>
  <author email="edouard.touraille@gmail.com" href="http://www.flibusteam.org">Flibusteam</author>
  <engines>
      <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/notification.js" name="Notification">
    <clobbers target="notification" />
  </js-module>
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Push">
        <param name="android-package" value="org.amqp.notification.Push"/>
      </feature>
    </config-file>
    <source-file src="src/android/Push.java" target-dir="src/org/flibusteam/push/cordova" />
    <source-file src="src/android/PushReceiver.java" target-dir="src/org/flibusteam/push/cordova" />
    <source-file src="src/android/PushHandlerActivity.java" target-dir="src/org/flibusteam/push/cordova" />
    <source-file src="src/android/PushManager.java" target-dir="src/org/flibusteam/push/cordova" />
    <source-file src="src/android/PushNotification.java" target-dir="src/org/flibusteam/push/cordova" />
    <lib-file src="src/android/amqp-client.jar" />
    <config-file target="AndroidManifest.xml" parent="/*">
      <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="org.ampq.notifiaction.PushHandlerActivity" />
    </config-file>
  </platform>
</plugin>
