<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.amqp.notification" version="0.0.1">
  <name>AMQP notification</name>
  <description>AMQP notification for cordova</description>
  <license>MIT</license>
  <keywords>push,notification,rabbitMQ,amqp</keywords>
  <author email="edouard.touraille@gmail.com" href="http://www.objetspartages.org">Flibusteam</author>
  <engines>
      <engine name="cordova" version=">=4.0.0" />
  </engines>
  <js-module src="www/notification.js" name="Push">
    <clobbers target="push" />
  </js-module>
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Push">
        <param name="android-package" value="org.amqp.notification.Push"/>
      </feature>
    </config-file>
    <source-file src="src/android/Push.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/PushManager.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/PushNotification.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/PushReceiver.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/PushService.java" target-dir="src/org/amqp/notification/cordova" />
    <source-file src="src/android/NotificationService.java" target-dir="src/org/amqp/notification/cordova" />
    <lib-file src="src/android/amqp-client.jar" />
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <service android:name="org.amqp.notification.PushService" >
        </service>
        <service android:name="org.amqp.notification.NotificationService" >
        </service>
        <receiver android:name="org.amqp.notification.PushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
          <action android:name="org.amqp.notification.push.intent.action"/>
        </intent-filter>
      </receiver>
    </config-file>
  </platform>
</plugin>
